epics2camac.dtd

<!-- XML DTD generated by asn1c-0.9.28 -->

<!-- ASN.1 module
EPICS2CAMAC found in ../epics2camac.asn1 -->

<!ELEMENT BasicCycleRequest (id, b, c, n, a, f)>
    <!ELEMENT id (#PCDATA)>
    <!ELEMENT b (#PCDATA)>
    <!ELEMENT c (#PCDATA)>
    <!ELEMENT n (#PCDATA)>
    <!ELEMENT a (#PCDATA)>
    <!ELEMENT f (#PCDATA)>
<!ELEMENT CamacCycleRequestR (id, b, c, n, a, f)>
<!ELEMENT CamacCycleRequestW (requestW, wdata)>
    <!ELEMENT requestW (id, b, c, n, a, f)>
    <!ELEMENT wdata (#PCDATA)>
<!ELEMENT CamacRequestFrame (requesttype*)>
    <!ELEMENT requesttype (requestR|requestW)>
        <!ELEMENT requestR (id, b, c, n, a, f)>
        <!ELEMENT requestW (requestW, wdata)>
<!ELEMENT CamacCycleReplyW (requestW, status)>
    <!ELEMENT requestW (id, b, c, n, a, f)>
    <!ELEMENT status (#PCDATA)>
<!ELEMENT CamacCycleReplyR (requestR, status, rdata)>
    <!ELEMENT requestR (id, b, c, n, a, f)>
    <!ELEMENT status (#PCDATA)>
    <!ELEMENT rdata (#PCDATA)>
<!ELEMENT CamacReplyFrame (replytype*)>
    <!ELEMENT replytype (replyR|replyW)>
        <!ELEMENT replyR (requestR, status, rdata)>
        <!ELEMENT replyW (requestW, status)>
